<!DOCTYPE html>
<html lang="en">

<head>
    <title>Classmate Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">School Search</a>
            </div>
            <p class="navbar-text navbar-right">
                <span sec:authentication="name">Username</span> &nbsp; &nbsp; &nbsp;
                <a th:href="@{/}">My Classmates</a>
                <a th:href="@{/logout}">Logout</a>
                <a href="https://forms.gle/m7XzSCzhSGUigdsd6" target="_blank">Contact Us</a>
                &nbsp; &nbsp; &nbsp;
            </p>
        </div><!-- /.container-fluid -->
    </nav>

    <div align="center">
        <h5>My Details</h5>
        <a href="/new-class">Add New Class</a>
        <br /><br />
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>School Name</th>
                    <th>Class</th>
                    <th>Passout Year</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="classRecord : ${classRecords}">
                    <td th:text="${classRecord.schoolName}">School Name</td>
                    <td th:text="${classRecord.classNumber}">Class</td>
                    <td th:text="${classRecord.year}">Passout Year</td>
                    <td>
                        <a th:href="@{/delete/{id}(id=${classRecord.id})}">Delete</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>